 .button{
    display: block;
    margin-left:100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
section{

 display: inline-block; 
 border: 15px solid ;
 margin: 10px;

}
 img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
 }
 .titulo{
    background-color: white;
    margin-left: 50px;
 }


